/*reglas
selectores
declaraciones
propiedades
valores*/

/* Selectores de etiquetas como body o header*/

body{
    background: #FFD9D9;
    font-family: arial;
}
header{
    background: beige;
    
}
#introd{
    background: #E3B3B3;
    font-style: oblique;
}
#family{
    background: #B4EFDC;
}
#photos{
    background: #efffb6;
}
#eklesia{
	background: #A44040;
	color: #EAE0E0;
	text-align: left;
}

/* Selectores descendente elememto hijo de otro*/
body header div nav ol li a{
    color: #675353
}

.link{
    font-family: arial-verdana ;
    color: #844D4D;
}