body {
    margin: 0;
    background: #dedede;
    display: flex;
    align-items: center;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.gameboard {
    height: 100vh;
    width: 100vh;
    border-radius: 10%;
    overflow: hidden;
    margin: 10px auto;
    max-height: 60vh;
    max-width: 60vh;
}

.color {
    width: 50%;
    height: 50%;
    display: inline-block;
}

.left {
    float: left;
}

.right {
    float: left;
}

.azul {
    background: radial-gradient(at bottom right ,#87A3BF, #183FA7);
}

.azul.light {
    background: #87A3BF;
}

.magenta {
    background: radial-gradient(at bottom left, #E4BADD,#FA14FF);
}

.magenta.light {
    background: #e056fd;
}

.naranja {
    background: radial-gradient(at top right, #E2D56C, #E2A419);
}

.naranja.light {
    background: #ffbe76;
}

.verde {
    background: radial-gradient(at top left, #6EE246, #02B80C);
}

.verde.light {
    background: #badc58;
}

.btn-start {
    width: 400px;
    height: 100px;
    background: #ecf0f1;
    color: #2c3e50;
    font-size: 2.2rem;
    position: absolute;
    border-radius: 15px;
    top: calc(50% - 50px);
    left: calc(50% - 200px);
    border: none;
    outline: none;

}

.btn-start:hover{
    cursor: pointer;
}
.btn-start:focus{
    background: #2c3e50;
    color: #dedede;
}
.hide {
    display: none;
}